<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://usoskogni.cf8msacdo7y1.us-east-2.rds.amazonaws.com:3306/test</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>
        <!--SQL dialect-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Class mappings for the ORM -->
        <!--<mapping class="pl.kognitywistyka.app.course.Course"/>-->
        <!--<mapping class="pl.kognitywistyka.app.user.User"/>-->
        <!--<mapping class="pl.kognitywistyka.app.user.Pokropski"/>-->
        <!--<mapping class="pl.kognitywistyka.app.user.Student"/>-->


    </session-factory>
</hibernate-configuration>
